<nav class="navbar navbar-expand-lg bg-body-white container">
  <div class="container-fluid">
    <a class="navbar-brand h-2" [routerLink]="['/home']"
      ><i class="bi bi-substack"> Blog</i></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/home']"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Albums</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr />
