<div
  class="container-fluid d-flex justify-content-center align-items-center vh-100"
>
  <div
    class="container border p-5 rounded"
    style="background-color: #d3e2f2; max-width: 400px"
  >
    <h4 class="mb-4 text-center">Welcome Back..!</h4>
    <form [formGroup]="loginForm">
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon1"
            ><i class="bi bi-envelope-at"></i
          ></span>
          <input
            type="email"
            class="form-control"
            placeholder=" Email"
            aria-label="Email"
            aria-describedby="basic-addon1"
            formControlName="emailValidation"
            [ngClass]="{
              'is-invalid':
                loginForm.get('emailValidation')?.invalid &&
                (loginForm.get('emailValidation')?.dirty ||
                  loginForm.get('emailValidation')?.touched)
            }"
          />
        </div>
      </div>
      <div
        *ngIf="
          loginForm.get('emailValidation')?.invalid &&
          (loginForm.get('emailValidation')?.dirty ||
            loginForm.get('emailValidation')?.touched)
        "
      >
        <div
          *ngIf="loginForm.get('emailValidation')?.hasError('required')"
          class="text-danger mb-3"
        >
          Email is required..!
        </div>
        <div
          *ngIf="loginForm.get('emailValidation')?.hasError('email')"
          class="text-danger mb-3"
        >
          Please enter a valid email address..!
        </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <span class="input-group-text" id="basic-addon3"
            ><i class="bi bi-eye-slash-fill"></i
          ></span>
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            aria-label="Password"
            aria-describedby="basic-addon3"
            formControlName="passValidation"
            [ngClass]="{
              'is-invalid':
                loginForm.get('passValidation')?.invalid &&
                (loginForm.get('passValidation')?.dirty ||
                  loginForm.get('passValidation')?.touched)
            }"
          />
        </div>
      </div>
      <div
        *ngIf="
          loginForm.get('passValidation')?.invalid &&
          (loginForm.get('passValidation')?.dirty ||
            loginForm.get('passValidation')?.touched)
        "
      >
        <div
          *ngIf="loginForm.get('passValidation')?.hasError('required')"
          class="text-danger mb-3"
        >
          Password is required..!
        </div>
        <div
          *ngIf="loginForm.get('passValidation')?.hasError('minlength')"
          class="text-danger mb-3"
        >
          Password must be Minimum Length 3..!
        </div>
        <div
          *ngIf="loginForm.get('passValidation')?.hasError('maxlength')"
          class="text-danger mb-3"
        >
          Password must be Maximum Length 15..!
        </div>
      </div>
      <div class="mb-3">
        <button
          type="submit"
          class="btn w-100 text-white"
          style="background-color: #4a5989"
          (click)="login()"
        >
          Login
        </button>
      </div>
      <div
        [ngClass]="{
          alert: true,
          'mt-3': true,
          'alert-success': resClass,
          'alert-danger': !resClass,
          'd-none': !resDNone
        }"
        role="alert"
      >
        {{ result }}
      </div>
    </form>
  </div>
</div>
