<div class="container">
  <app-navbar></app-navbar>
  <!-- Start Card... -->

  <div class="row">
    <h4 class="mb-3 col-12">Recent Blogs</h4>
    <div class="col-md-6 mb-3" *ngFor="let blogEntry of blogData">
      <div class="card h-100">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              [src]="blogEntry.imagePath"
              alt=""
              class="img-fluid"
              style="object-fit: cover; height: 100%"
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ blogEntry.title }}</h5>
              <p class="card-text">{{ blogEntry.description }}</p>
              <button
                [routerLink]="['/home/more', blogEntry.id]"
                class="btn btn-outline-primary"
              >
                View More
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
